@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --font-family: 'Roboto', sans-serif;

    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --Tomato: hsl(4, 100%, 67%)
}

  
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
body {
    background-color: var(--Charcoal-Grey);
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.8;
    font-family: "roboto";
    display: grid;
    place-content: center;

}
.container {
    max-width: 955px;
    
    margin: 0 auto;
    background-color: var(--White);
    padding: 1.5rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container.success {
    display: initial;
    padding: 3.5rem;
}
.left {
    color: var(--Dark-Slate-Grey);
    padding: 4rem 2rem 2rem 2rem;
}
.left-info h1 {
    font-size: 3.5rem;
    margin: 0.5rem;
}
.left-info p,
.left-info ul {
    margin-bottom: 1.5rem;
}
.left-info ul li {
    list-style-image:url(assets/images/icon-list.svg) ;
    list-style-position: inside;
}
.left-info ul li::before {
    content: "";
    margin: .5rem;
}
.from-item {
display: flex;
flex-direction: column;
}
.from-item label {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
}
.from-item label .invalid-email {
color: var(--Tomato);
display: none;
}
.from-item label .invalid-email.active {
    display: block;
}
.from-item input,
.from-item button {
    padding: 1rem;
    margin-bottom: .5rem;
    border-radius: 8px;
}
.from-item input {
    border: 1px solid var(--Grey);
}
.from-item input.active {
    background-color: rgba(255, 98, 87, 0.2);
    border: 1px solid var(--Tomato);
}
.from-item button {
    cursor: pointer;
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    outline: none;
    border: none;
}
.from-item button:hover {
    background: linear-gradient(127deg ,rgba(255,63,24,1)40% ,rgba(255,154,34,1) 70%);
}
.right {
    text-align: right;
}
.confirmed-message {
    display: none;
    line-height: 1.2;
}
.confirmed-message.active {
    display: block;
}
.confirmed-message img {
    width: 80px;
}
.confirmed-message h2 {
    font-size: 3rem;
    margin-top: 2rem;
}
.confirmed-message p {
    margin: 2rem 0;
}
.confirmed-message button {
    cursor: pointer;
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    font-weight: 700;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
}
.confirmed-message button:hover {
    background: linear-gradient(127deg ,rgba(255,63,24,1)40% ,rgba(255,154,34,1) 70%);
}
#user-email {
    font-weight: 700;
}
@media (max-width:768px) {
    body {
        display: initial;
        line-height: 1.4;
    }
    .container {
    width: 100%;
    height: initial;
    padding: 0;
    grid-template-columns: 1fr ;
    }
    .container.success {
        display: block;
        padding: initial;
    }
    .left {
        padding: 1rem 2rem;
        grid-row: 2;
    }
    .left-info ul li {
        margin-bottom: 1rem;
    }
    .right img {
        width: 100%;
    }
    .confirmed-message.active {
        height: 100vh;
        padding: 14rem 2rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .confirmed-message button {
        margin-top: auto;
    }
    
}




